

.main{
  display: flex;
  justify-content: center;
}

.search{
   margin-top: "5%";
   margin-bottom: "5%";
   position: fixed;
}

.cards{
  margin-top: "20rem";
}

.one_card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.one_card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: "10em";
}
